PORT = 4000

# Postgres Database Values
PG_USER = postgres
PG_PASSWORD = postgres
PG_HOST = localhost
PG_PORT = 5432
PG_DATABASE = restaurant

# SET APP_MODE (prod vs dev)
APP_MODE = 
JWT_SECRET = 
REFRESH_SECRET = 

# Development backend URL
REACT_APP_BACKEND_URL = http://localhost:4000
# Production backend URL
# REACT_APP_BBACKEND_URL = https://hk-gardento.com